{% extends 'base.html' %}

{% block contents %}

<!-- Pagination here -->

{% if is_paginated %}

<nav class="mt-2" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
    {% endif %}

    {% for i in paginator.page_range %}

        {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}

    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}" tabindex="-1">Next</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
    {% endif %}

  </ul>
</nav>

{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for entity in entities %}
                <div class="card mb-2 shadow-sm bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">{{ entity.title }}</h5>
                        <p class="card-text">{{ entity.description }}</p>
                        <a href="{% url 'app:entity-detail' pk=entity.pk %}" class="btn btn-primary">Check Out</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Pagination here -->

{% if is_paginated %}

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
    {% endif %}

    {% for i in paginator.page_range %}

        {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}

    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.next_page_number}}" tabindex="-1">Next</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
    {% endif %}

  </ul>
</nav>

{% endif %}

{% endblock contents %}