{% extends "base.html" %}

{% load static %}

{% block contents %}

<div class="jumbotron" style="color: white; background-image: url({% static 'img/home/wall.jpg' %}); background-size: cover;">
  <h1 class="display-4">Hello, {{user.profile.first_name }} {{ user.profile.last_name }}</h1>
  <p class="lead">Welcome to Django Hackathon Starter project. Hope you are having a good time. You can start modifying this template project and make your own applications.</p>
  <hr class="my-4">
  <p>Thanks for using the application. To find out more, click the button below.</p>
  <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/mohit4/django-hackathon-starter" role="button">Learn more</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- Pagination here -->

            {% if is_paginated %}

            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}

                {% for i in paginator.page_range %}

                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}" tabindex="-1">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}

            </ul>
            </nav>

            {% endif %}

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% for entity in entities %}
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{ entity.profile_image.url }}" class="card-img" alt="Krishna Flute">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ entity.title }}</h5>
                                        <small><em>by {{ entity.user.username }}</em></small>
                                        <p class="card-text">{{ entity.description }}</p>
                                        <a href="{% url 'app:entity-detail' pk=entity.pk %}" class="btn btn-primary">Check Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Pagination here -->

            {% if is_paginated %}

            <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}

                {% for i in paginator.page_range %}

                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.next_page_number}}" tabindex="-1">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}

            </ul>
            </nav>

            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}