{% extends "base.html" %}

{% load static %}

{% block contents %}

<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4 p-2">
                        <img src="{{ profile.profile_pic.url }}" class="card-img" alt="Profile Pic">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1>{{ entity_count }} entities</h1>
                            <h3 class="card-title">{{ profile.first_name }} {{ profile.last_name }}</h3>
                            <a target="blank_" href="{{ profile.website }}" style="text-decoration:None;"><h4 class="card-subtitle mb-2 text-muted">@{{ profile.user.username }}</h4></a>
                            <p class="lead">{{ profile.bio }}</p>
                            <p><i class="fas fa-phone-alt"></i> {{ profile.phone_no }}
                            <br><i class="far fa-envelope-open"></i> {{ profile.email }}
                            <br><i class="fas fa-map-marker-alt"></i> {{ profile.address }}</p>
                            <a class="btn btn-primary" href="{% url 'account:edit-profile' pk=profile.pk %}"><i class="fas fa-edit"></i> Edit profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}