{% extends "base.html" %}

{% load static %}

{% block contents %}

<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4 p-2">
                        <img src="{% static 'img/profile/krishna.jpg' %}" class="card-img" alt="profile/krishna.jpg">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1>{{ entity_count }} entities</h1>
                            <h3 class="card-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
                            <h4 class="card-subtitle mb-2 text-muted">@{{ profile.user.username }}</h4>
                            <p class="lead">{{ profile.bio }}</p>
                            <p class="card-text"><i class="fas fa-link"></i> {{ profile.website }}
                            <br><i class="far fa-envelope-open"></i> {{ profile.user.email }}
                            <br><i class="fas fa-map-marker-alt"></i> {{ profile.address }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}