{% extends "base.html" %}

{% block contents %}

<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="card my-4">
                <div class="card-body">
                    <h2 class="card-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
                    <h4 class="card-subtitle mb-2 text-muted">@{{ profile.user.username }}</h4>
                    <p class="lead">{{ profile.bio }} Lorem ipsum dolar sit amet </p>
                    <p class="card-text">{{ profile.website }} www.github.com</p>
                    <p class="card-text">{{ profile.user.email }}</p>
                    <address>{{ profile.address }} Lorem ipsum dolar sit amet</address>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}