{% extends 'base.html' %}

{% block contents %}

<div class="col-12">

    <h3><i class="fas fa-users"></i></i> Users</h3>
    Total items : {{ profiles|length }}
    <hr>
    <ul class="list-group">
        {% for profile in profiles %}
            <a href="{% url 'account:profile-detail' pk=profile.pk %}" class="list-group-item list-group-item-action list-group-item-warning"><i class="fas fa-user"></i> {{ profile.user.username }}</a>
        {% empty %}
        No items
        {% endfor %}
    </ul>

</div>

{% endblock contents %}